body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

.btn {
    min-width: 120px;
    min-height: 40px;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    opacity: 0.9;
    transform: scale(1.05);
}


/* HEADER */

.header {
    background-color: #2C2C2C;
    height: 80px;
}

.nav, .nav__list {
    display: flex;
    align-items: center;
}

.nav {
    height: 100%;
    justify-content: space-between;
}

.nav__list {
    display: flex;
}

.nav__logo-container, .nav__hamburger-wrapper {
    margin: 1rem;
}

.nav__link {
    text-decoration: none;
}

.hero {
    height: calc(100vh - 80px);
    background: url(../images/banner/banner.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav__hamburger-wrapper {
    font-size: 2rem;
    color: whitesmoke;
}


/* HERO */

.hero__article--desc {
    color: whitesmoke;
    padding: 1rem;
}

.hero__header {
    font-size: 2rem;
    margin-bottom: 0.7rem;
    line-height: 2rem;
}

.hero__desc {
    font-weight: 300;
    margin-bottom: 2rem;
}

.hero__btn {
    background-color: #37EBED;
    color: white;
    font-size: 1rem;
    padding: 1rem;
}


/* ADS */

.ads {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
}

.ads__header {
    font-size: 1.3rem;
}

.ads__list, .ads__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ads__item {
    flex-direction: column;
    margin: 1rem;
}

.ads__image-container {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ads__image-container--blue{
    background-color: #349CFA;
}

.ads__image-container--orange{
    background-color: #FD9D5D;
}

.ads__image-container--green{
    background-color: #37EF8D;
}



/* FEATURES */

.features {
    margin-top: 100px;
    padding: 1rem;
}

.features__header {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.features__desc {
    font-weight: 300;
}

.features__btn {
    background-color: #0181F5;
    color: white;
    margin: 2rem 0;
    font-size: 1.2rem;
}

