:root {
    --font : whitesmoke;
    --header-bg: #2C2C2C;
    --hero-btn: #37EBED;
    --features-btn: #0181F5;
    --pricing-btn: skyblue;
    --nav-btn: #42B3FA;
    --download-bg: #5DB2FF;
    --footer-bg: #1F1F1F;
    --nav-link-hover: #6C53FF;

    --hero-header-font-size: clamp(2rem, 4vw + 0.5rem, 4rem);
    --section-header-font-size: clamp(2rem, 3vw + 0.5rem, 3rem);
    --description-font-size: clamp(1rem, 2vw + 0.5rem, 1.2rem);
}

body, html {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn {
    min-width: 120px;
    max-width: 220px;
    min-height: 40px;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    opacity: 0.9;
    transform: scale(1.05);
}


/* HEADER */

.header {
    background-color: var(--header-bg);
    height: 80px;
}

.nav, .nav__list {
    display: flex;
    align-items: center;
}

.nav {
    height: 100%;
    justify-content: space-between;
}

.nav__list {
    display: flex;
}

.nav__list, .nav__item, .nav__link {
    height: 100%;
}

.nav__item, .nav__link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__link:hover {
    color: var(--nav-link-hover);
}

.nav__logo-container, .nav__hamburger-wrapper {
    margin: 1rem;
}

.nav__link {
    text-decoration: none;
    color: var(--font);
    padding: 1rem;
}

.nav__hamburger-wrapper {
    font-size: 2rem;
    color: var(--font);
}

.nav__btn {
    background-color: var(--nav-btn);
    color: var(--font);
    font-size: 1rem;
    font-weight: 600;
    margin: 0.5rem;
    width: 150px;
}

.nav__btn:hover {
    background-color: var(--nav-link-hover);
}


/* HERO */

.hero {
    height: calc(100vh - 80px);
    background: url(../images/banner/banner.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-wrap: wrap;
}

.hero__article--desc {
    color: var(--font);
    padding: 1rem;
}

.hero__header {
    font-size: var(--hero-header-font-size);
    margin-bottom: 0.7rem;
}

.hero__desc {
    font-size: var(--description-font-size);
    font-weight: 300;
    opacity: 0.8;
    margin-bottom: 2rem;
}

.hero__btn {
    background-color: var(--hero-btn);
    color: var(--font);
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem;
}


/* ADS */

.ads {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
}

.ads__header {
    font-size: var(--section-header-font-size);
}

.ads__list, .ads__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ads__item {
    flex-direction: column;
    margin: 1rem;
}

.ads__item-desc {
    font-size: var(--description-font-size);
    text-align: center;
}

.ads__image-container {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ads__image-container--blue{
    background-color: #349CFA;
}

.ads__image-container--orange{
    background-color: #FD9D5D;
}

.ads__image-container--green{
    background-color: #37EF8D;
}



/* FEATURES */

.features {
    margin-top: 50px;
    padding: 1rem;

    display: flex;
}

.features__header {
    font-size: var(--section-header-font-size);
    opacity: 0.8;
    margin: 1rem 0;
}

.features__desc {
    font-size: var(--description-font-size);
    font-weight: 300;
    opacity: 0.8;
}

.features__btn {
    background-color: var(--features-btn);
    color: var(--font);
    margin: 2rem 0;
    font-size: 1.2rem;
}


/* FEEDBACK */

.feedback {
    background: url(../images/banner/testmonial.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2rem;
}

.feedback__container {
    background-color: #66B2F8;
    opacity: 0.9;
    padding: 3rem 1rem 2rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback__header, .feedback__desc, .feedback__score-username {
    color: var(--font);
}

.feedback__header {
    margin-bottom: 1rem;
    text-align: center;
    font-size: var(--section-header-font-size);
}

.feedback__desc {
    text-align: center;
    font-size: var(--description-font-size);
}

.feedback__score {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1rem 0;
}

.fa-star {
    color: gold;
}

.feedback__score-username {
    font-weight: 300;
    font-size: 0.8rem;
}


/* PRICING */

.pricing {
    margin-top: 50px;
    padding: 1rem;
}

.pricing__header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.pricing__header {
    font-size: var(--section-header-font-size);
    opacity: 0.8;
    margin-bottom: 1rem;
}

.pricing__desc {
    font-size: var(--description-font-size);
    text-align: center;
    opacity: 0.8;
}

.pricing__list, .pricing__item, .pricing__offer-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing__item {
    flex-direction: column;
    margin: 1rem;
    width: 100%;
    box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.1);
}

.pricing__item-wrapper {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing__item-wrapper--blue{
    background-color: #E9F4FE;
}

.pricing__item-wrapper--orange{
    background-color: #FEF4EE;
}

.pricing__item-wrapper--green{
    background-color: #E8FCF1;
}

.pricing__price {
    font-size: 1.2rem;
}

.pricing__price--blue{
    color: #74A9F7;
}

.pricing__price--orange{
    color: #FDB8A6;
}

.pricing__price--green{
    color: #04D370;
}


.pricing__item-plan, .pricing__price {
    margin: 0.5rem 1.5rem;
}

.pricing__item-plan {
    font-size: 1.1rem;
    font-weight: 500;
}

.pricing__btn {
    background-color: transparent;
    color: var(--pricing-btn);
    border: 1px solid var(--pricing-btn);
    margin: 2rem 0;
    font-size: 1.1rem;
    font-weight: 500;
}

.pricing__btn:hover {
    background-color: var(--pricing-btn);
    color: var(--font);
}

.pricing__offer-list {
    flex-direction: column;
    margin-top: 2rem;
}

.pricing__offert-item {
    margin: 1rem 0;
    opacity: 0.8;
}

 
/* DOWNLOAD */

.download {
    background: var(--download-bg);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download__header {
    margin: 1rem 0;
    opacity: 0.9;
    font-size: var(--section-header-font-size);
    color: var(--font);
    text-align: center;
}


/* FOOTER */

.footer {
    background-color: var(--footer-bg);
    color: var(--font);
}

.footer__links, .footer__copyrights-wrapper {
    padding: 2rem;
}
.footer__links-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__logo {
    width: 150px;
}

.footer__logo, .footer__desc, .footer__socials-wrapper{
    margin-bottom: 1rem;
}

.footer__desc {
    opacity: 0.9;
    font-size: 1rem;
}

.footer__socials-wrapper {
    display: flex;
    margin-top: 2rem;
}

.footer__social-icon {
    background-color: #565656;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__icon {
    font-size: 1.5rem;
    opacity: 0.8;
}

.footer__links-item {
    font-size: 1.7rem;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;

}

.footer__link {
    text-decoration: none;
    color: var(--font);
}

.footer__links-sublist {
    font-size: 1rem;
    font-weight: 300;
    opacity: 0.8;
    margin: 1rem 0;
}

.footer__links-subitem {
    margin: 0.7rem 0;
}

.footer__copyrights-wrapper {
    background-color: black;
    width: 100%;
    text-align: center;
}