
/* HEADER */

.nav__list, .nav__btn {
    display: none;
}


/* HERO */

.hero {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.hero__article--image {
    padding: 2rem;
}

.hero__image {
    margin-bottom: 2rem;
}   


/* ADS */

.ads__header {
    text-align: center;
}

.ads__list {
    flex-direction: column;
}


/* FEATURES */

.features {
    flex-direction: column;
}

/* PRICING */

.pricing__list {
    flex-direction: column;
}

/* DOWNLOAD */

.download {
    flex-direction: column;
}

/* FOOTER */

.footer__links-item {
    flex-basis: 100%;
}