
/* HEADER */

.nav__list, .nav__btn {
    display: none;
}


/* HERO */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__article--image {
    padding: 2rem;
}

.hero__image {
    margin-bottom: 2rem;
}   


/* ADS */

.ads__list {
    flex-direction: column;
}


/* FEATURES */



/* PRICING */

.pricing__list {
    flex-direction: column;
}