/* HEADER */

.nav__list, .nav__btn {
    display: none;
}


/* HERO */

.hero {
    justify-content: space-evenly;
    align-items: center;
}

.hero__article--image, .hero__article--desc {
    flex-basis: 49%;
}  


/* PRICING */

.pricing__item {
    margin: 0
}


/* FEATURES */


.features__article {
    flex-basis: 50%;
}

.features__article--desc {
    display: flex;
    flex-direction: column;
}


/* DOWNLOAD */

.download {
    flex-direction: column;
}


/* FOOTER */

.footer__links {
    padding: 100px;
}

.footer__links-item {
    flex-basis: 50%;
}

.footer__item-header {
    margin-bottom: 1rem;
}
