.nav__list, .nav__btn {
    display: none;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero__article--image {
    max-width: 30%;
}  

.pricing__item {
    margin: 0
}

.features {
    display: flex;
}

.features__article {
    flex-basis: 50%;
}

.features__article--desc {
    display: flex;
    flex-direction: column;
}

.download {
    flex-direction: column;
}

.footer__links {
    padding: 100px;
}

.footer__links-item {
    flex-basis: 50%;
}

.footer__item-header {
    margin-bottom: 1rem;
}
